<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的关注</title>
    <link rel="short icon"  href="/common/system_icon/favicon.ico"/>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/particles/style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link href="/css/message.css" rel="stylesheet" type="text/css">
    <link href="/css/common.css" rel="stylesheet" type="text/css">


</head>
<body>
<div id="particles-js">
    <!--   使用模板model, 隐藏参数便于传参-->
    <input type="hidden" id="userId" th:value="${session.user.id}">
    <input type="hidden" id="username" th:value="${session.user.username}">
    <input type="hidden" id="userimage" th:value="${session.user.image}">
    <input type="hidden" id="currentimage" th:value="${CurrentContact.image}">
    <input type="hidden" id="currentname" th:value="${CurrentContact.username}">

    <!--消息模态框-->
    <div id="model_message" class="model_window_message">
        <div class="msgtype"></div>
        <div class="msgcontent"></div>
    </div>

    <div th:replace="/front/component/page::header">
    </div>

    <div class="m-followlist">
        <div class="m-current">当前联系人</div>
        <div class="m-current-contact">
            <div class="current-chat-image"><img th:src="@{/mycommon/getImage(image=${CurrentContact.image})}"></div>
            <div class="current-chat-name"><a href="javascript:void(0)" th:text="${CurrentContact.username}"></a></div>
        </div>
        <div class="m-recent">最近联系人</div>
        <div class="m-recent-contact" >
         <!--   <div class="m-recent-item" >
                <div class="recent-chat-image"><img th:src="@{/mycommon/getImage(image=${session.user.image})}"></div>
                <div class="recent-chat-name"><a href="javascript:void(0)" th:text="${session.user.username}"></a></div>
            </div>-->
            <div class="m-recent-item" th:each="r:${RecentContact}">
                <div class="recent-chat-image"><img th:src="@{/mycommon/getImage(image=${r.image})}"></div>
                <div class="recent-chat-name"><a href="javascript:void(0)" th:text="${r.username}"></a></div>
            </div>
        </div>
        <div class="m-recent-page"></div>
    </div>
    <div class="m-chat-window">
        <div class="m-chat-follow" th:touserId="${CurrentContact.id}">
            <div class="w-name"><a href="javascript:void(0)" th:text="${CurrentContact.username}">金旭</a></div>
            <div class="w-isonline">
                <a href="javascript:void(0)" style="color: green" th:if="${isonline==true}">在线</a>
                <a href="javascript:void(0)"  style="color: red" th:if="${isonline==false}">离线</a>
            </div>
        </div>
        <div class="m-chat-message">
 <!--           <div class="m-chatobject-message">
                <div class="mc-image"><img th:src="@{/mycommon/getImage(image=${session.user.image})}"></div>
                <div class="mc-name">黄博然</div>
                <div class="mc-content">你好</div>
                <div class="mc-time">上午12:54</div>
            </div>
            <div class="m-self-message">
                <div class="mr-image"><img th:src="@{/mycommon/getImage(image=${session.user.image})}"></div>
                <div class="mr-name">黄博然</div>
                <div class="mr-content">你好</div>
                <div class="mr-time">上午12:54</div>
            </div>-->

        </div>
        <div class="m-chat-editor">
            <div class="me-image"><img th:src="@{/mycommon/getImage(image=${session.user.image})}"></div>
            <div contenteditable="true" class="m-send-content"></div>
            <div class="m-send"><a href="javascript:void(0)">发送</a></div>
        </div>
    </div>


    <div th:replace="/front/component/page::footer">
    </div>

</div>
</body>



<script src="js/plugin/jquery.js"></script>
<!--打字效果引入-->
<script src="js/plugin/commentTyping.js"></script>
<!--粒子效果引入-->
<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>
<script src="js/plugin/date.js"></script>
<script src="js/common.js"></script>

<script type="text/javascript">
    /*全局变量*/
    var userId=$("#userId").val();
    var username=$("#username").val();
    var userimage=$("#userimage").val();
    var currentimage=$("#currentimage").val();
    var currentname=$("#currentname").val();
    var socket=null;


    /*------------------------------------------------------------------------------------------------------*/
    /*头悬浮栏*/
    $(document).on("mouseover",".current_user_section",function () {
        $("#user_menu").css("display","block");
    })
    $(document).on("mouseout",".current_user_section",function () {
        $("#user_menu").css("display","none");
    })

    $(document).on("mouseout","#user_menu",function () {
        $("#user_menu").css("display","none");
    })
/*----------------------------消息发送函数-----------------------------------------*/


    //扩展Date原型函数（相当于java类中新增方法）
    Date.prototype.Format = function(fmt) {
        var o = {
            "M+" : this.getMonth()+1,                 //月份
            "d+" : this.getDate(),                    //日
            "h+" : this.getHours()%12 == 0 ? 12 : this.getHours()%12, //小时
            "H+" : this.getHours(), //小时
            "m+" : this.getMinutes(),                 //分
            "s+" : this.getSeconds(),                 //秒
            "q+" : Math.floor((this.getMonth()+3)/3), //季度
            "S"  : this.getMilliseconds()             //毫秒
        };
        if(/(y+)/.test(fmt))
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length));
        for(var k in o)
            if(new RegExp("("+ k +")").test(fmt))
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
        return fmt;
    }

   /* 消息发送*/
    function sendMessage() {
        if(typeof(WebSocket) == "undefined") {
            console.log("您的浏览器不支持WebSocket");
        }else {
            var toUserId=$(".m-chat-follow").attr("touserid");
            var content=$(".m-send-content").text().replace(/^\s+|\s+$/g,'');
            var time=moment(new Date()).format('YYYY-MM-DD HH:mm:ss');
            var sendtime=time.toString();
            var message={'fromUserId':userId,'toUserId':toUserId,"content":content,'sendtime':sendtime};
            console.log("您的浏览器支持WebSocket");
            console.log();
            socket.send(JSON.stringify(message));
            $(".m-chat-message").html($(".m-chat-message").html()+"<div class=\"m-self-message\">\n" +
                "                <div class=\"mr-image\"><img src=\"/common/profile_image/"+userimage+"\"></div>\n" +
                "                <div class=\"mr-name\">"+"我"+"</div>\n" +
                "                <div class=\"mr-content\">"+content+"</div>\n" +
                "                <div class=\"mr-time\">"+sendtime+"</div>\n" +
                "            </div>");
            $(".m-send-content").text('');
        }
    }
/*    -------------------------------------消息发送事件-------------------------------------*/
    $(document).on("click",'.m-send',function (){
        sendMessage();
    })
/*-------------------------------------websocket连接-------------------------------------*/
    if(userId != null&&userId!==''){
        openSocket();
        //自定义获取消息事件
        socket.onmessage = function(msg) {
            //发现消息进入开始处理前端触发逻辑
            console.log(msg.data);
            var messageinfo=eval("("+msg.data+")");
            console.log(messageinfo);
            if(messageinfo.content!=undefined){

                $(".m-chat-message").html($(".m-chat-message").html()+"  <div class=\"m-chatobject-message\">\n" +
                    "                <div class=\"mc-image\"><img src=\"/common/profile_image/"+currentimage+"\"></div>\n" +
                    "                <div class=\"mc-name\">"+currentname+"</div>\n" +
                    "                <div class=\"mc-content\">"+messageinfo.content+"</div>\n" +
                    "                <div class=\"mc-time\">"+messageinfo.sendtime+"</div>\n" +
                    "            </div>");

            }


        };
    }
</script>
</html>