<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>个人主页</title>
    <link rel="short icon"  href="/common/system_icon/favicon.ico"/>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="particles/style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">


</head>
<body>
<div id="particles-js">
    <!--   使用模板model, 隐藏参数便于传参-->
    <input type="hidden" id="userId" th:value="${session.user.id}">



    <div th:replace="/front/component/page::header">
    </div>

    <!--左边功能栏目-->
    <div class="leftprofilebody">
        <div class="personalset"><a href="javascript:void(0)">个人设置</a></div>
        <div class="accountset"><a href="javascript:void(0)">账号设置</a></div>
        <div class="mycollection"><a href="javascript:void(0)">我的收藏</a></div>
        <div class="myblog"><a href="javascript:void(0)">管理博客</a></div>
    </div>
   <!-- 右边显示栏目-->
    <div class="rightprofilebody">
        <div class="account_text"><span>账号信息</span></div>
        <div class="accountinfo">
            <div class="account_md">
                <div class="account_l">手机号码:</div>
                <div class="account_r">15771134221</div>
                <div class="modifyitem"><a href="javascript:void(0)">修改</a></div>
            </div>
            <div class="account_md">
                <div class="account_l">邮箱:</div>
                <div class="account_r">1813422657@qq.com</div>
                <div class="modifyitem"><a href="javascript:void(0)">修改</a></div>
            </div>
            <div class="account_mdpasswd">
                <div class="passwdchange-btn">变更密码</div>
                <div class="">
                    <div></div>
                    <div></div>


                </div>

            </div>

        </div>


    </div>





    <div th:replace="/front/component/page::footer">
    </div>

</div>
</body>
<script src="js/plugin/jquery.js"></script>
<!--打字效果引入-->
<script src="js/plugin/commentTyping.js"></script>
<!--粒子效果引入-->
<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>
<script src="js/plugin/date.js"></script>


<script type="text/javascript">
    /*------------------------------------------------------------------------------------------------------*/
    /*头悬浮栏*/
    $(document).on("mouseover",".current_user_section",function () {
        $("#user_menu").css("display","block");
    })
    $(document).on("mouseout",".current_user_section",function () {
        $("#user_menu").css("display","none");
    })

    $(document).on("mouseout","#user_menu",function () {
        $("#user_menu").css("display","none");
    })
    /*------------------------------------------------------------------------------------------------------*/
     /*页面加载时触发，默认个人设置页面*/
      window.onload=function () {
          /*$(".personalset").click();*/

      }
      /*个人设置点击事件*/
    $(".personalset").on("click",function () {
        /*点击后改变当前点击栏目背景色*/
        $(".personalset").css("background-color","#f0f0f5");
        /*点击效果互斥*/
        var flist=$(".leftprofilebody div");
        for(var i=0;i<flist.length;i++){
            if(flist[i]!==this){
                flist[i].style.backgroundColor="white";
            }

        }

        /*获取本人信息id*/
        let userId=$("#userId").val();


        $.ajax({
            url:"/profilePage/getuserInfo",
            data:{'userId':userId},
           /* 返回数据类型*/
            dataType:"json",
            method:"post",
            success:function (user) {
                /*自动将返回的json字符串转化为js对象*/
                $(".rightprofilebody").html("     <div class=\"basicinfo\">\n" +
                    "            <div class=\"profilebasic\">\n" +
                    "                <div class=\"profilephotobox\">\n" +
                    "                    <img src='/common/profile_image/"+user.image+"'>\n" +
                    "                </div>\n" +
                    "                <div class=\"profilename\">\n" +
                    "                    <span >"+user.username+"</span>\n" +
                    "                </div>\n" +
                    "                <div class=\"codeage\"><span>码龄:"+user.codeage+" 年</span></div>\n" +
                    "                <div class=\"personalstats\"><a href=\"\">个人主页</a></div>\n" +
                    "                <div class=\"personlevel\">\n" +
                    "                    <div class=\"check-in\"><a href=\"\">签到</a></div>\n" +
                    "                    <div class=\"userlevel\"><span>等级:"+user.level+"</span></div>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "        </div>\n" +
                    "        <div class=\"basicinfodetail\">\n" +
                    "            <div class=\"basictext\"><span>基本信息</span></div>\n" +
                    "            <div class=\"editprofile\">\n" +
                    "                <ul class=\"ul_profile\">\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">用户昵称</div>\n" +
                    "                        <div class=\"profileshow-r\">"+user.username+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">用户ID</div>\n" +
                    "                        <div class=\"profileshow-r-userid\">"+user.id+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">性别</div>\n" +
                    "                        <div class=\"profileshow-r\">"+user.sex+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">QQ号码</div>\n" +
                    "                        <div class=\"profileshow-r\">"+user.qq_number+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">生日</div>\n" +
                    "                        <div class=\"profileshow-r-birthday\">"+moment(user.birthday).format('YYYY-MM-DD')+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">地区</div>\n" +
                    "                        <div class=\"profileshow-r\">"+user.address+"</div>\n" +
                    "                    </li>\n" +
                    "                    <li>\n" +
                    "                        <div class=\"profileshow-l\">个人简介</div>\n" +
                    "                        <div class=\"profileshow-r-reputation\">"+user.reputation+"</div>\n" +
                    "                    </li>\n" +
                    "                </ul>\n" +
                    "                <div class=\"editprofile-do\">\n" +
                    "                    <a href=\"javascript:void(0)\">编辑</a>\n" +
                    "                </div>\n" +
                    "            </div>\n" +
                    "        </div>"
                )


            }




        })

    })
   /* ----------------------------------------编辑个人基本信息------------------------------------------------*/

    $(document).on("click",'.editprofile-do',function () {

        /* 修改信息回显*/
        var prevalueList=$(".profileshow-l");
        var parray=new Array(7);
        for (var i=0;i<prevalueList.length;i++) {
            parray[i]=prevalueList[i].nextElementSibling.innerHTML;
        }

        $(".basicinfodetail").html("            <div class=\"basictext\"><span>基本信息修改</span></div>\n" +
            "            <div class=\"edittingprofile\">\n" +
            "                <div class=\"mainedit\">\n" +
            "                  <div class=\"e_user\">\n" +
            "                      <div class=\"e_text\">用户昵称：</div>\n" +
            "                      <div class=\"e_input\"><input type=\"text\" id=\"username\" value='"+parray[0]+"'></div>\n" +
            "                  </div>\n" +
            "                    <div class=\"e_user\">\n" +
            "                        <div class=\"e_text\">生日：</div>\n" +
            "                        <div class=\"e_input\"><input type=\"date\" id=\"birthday\" value='"+parray[4]+"'></div>\n" +
            "                    </div>\n" +
            "                  <div class=\"e_user\">\n" +
            "                        <div class=\"e_text\">QQ号码：</div>\n" +
            "                        <div class=\"e_input\"><input type=\"text\" placeholder='可为空,4~20数字' id=\"qqnumber\" value='"+parray[3]+"'></div>\n" +
            "                  </div>\n" +
            "                  <div class=\"e_user\">\n" +
            "                        <div class=\"e_text\">地址：</div>\n" +
            "                        <div class=\"e_input\"><input type=\"text\" id=\"address\" placeholder='可为空' value='"+parray[5]+"'></div>\n" +
            "                  </div>\n" +
            "                    <div class=\"e_user\">\n" +
            "                        <div class=\"e_text\">性别：</div>\n" +
            "                        <div class=\"e_input\">\n" +
            "                            <select id=\"sex\" required='true'>\n" +
            "                                <option value='男'>男</option>\n" +
            "                                <option value='女'>女</option>\n" +
            "                            </select>\n" +
            "                        </div>\n" +
            "                    </div>\n" +
            "                    <div class=\"e_user\">\n" +
            "                        <div class=\"e_cancel\"><a href=\"javascript:void(0)\">取消修改</a></div>\n" +
            "                        <div class=\"e_confirm\"><a href=\"javascript:void(0)\">确认修改</a></div>\n" +
            "                    </div>\n" +
            "                    <div class=\"e_reputation\">\n" +
            "                        <div class=\"e_text\">个人介绍：</div>\n" +
            "                        <div id=\"reputation\" contenteditable=\"true\">"+parray[6]+"</div>\n" +
            "                    </div>\n" +
            "                </div>\n" +
            "            </div>");

        $("#sex").val(parray[2]);

     })
/*-------------------------------------------------修改以及取消事件-----------------------------------------------------------------------------------*/

    /*取消修改*/
    $(document).on("click",'.e_cancel',function () {
    $(".personalset").click();
    })
    /*确认修改*/
    $(document).on("click",'.e_confirm',function () {
        let username=$("#username").val().replace(/\s*/g,"");
        if(username.length<2||username.length>10){
            alert("用户名不大于10个字符不小于2个字符且不能为空");
            return 0;
        }
        let birthday=$("#birthday").val()
        if(birthday.length ===0){
            alert("生日不能为空");
            return 0;
        }
        let qq_number=$("#qqnumber").val().replace(/\s*/g,"");
        if(qq_number.length !==0&&(qq_number.length<4||qq_number.length>20)){
            alert("QQ号码不大于20个数字不小于4个数字");
            return 0;
        }
        let address=$("#address").val().replace(/\s*/g,"");
        if(address.length>50){
            alert("地址不能大于50个字符且不能全输入空格");
            return 0;
        }
        let sex=$("#sex").val();
        let reputation=$("#reputation").text().replace(/\s*/g,"");
        /*新建要修改的用户信息js对象*/
        let muser={username:username,birthday:birthday,
            qq_number:qq_number,address:address,sex:sex,reputation:reputation}

        $.ajax({
            url:"/profilePage/profile",
            dataType: "text",
            data: JSON.stringify(muser),
            method: "post",
            contentType:"application/json",
            success:function (msg) {

                if(msg==="true"){
                    alert("修改成功");
                    return 0;
                }
                else {
                    alert("修改失败");
                    return  0;
                }

            },
            error:function (msg) {
                alert(msg);
                return 0;

            }
        })

        return 0;
    })
/* ---------------------------------------------账号设置事件---------------------------------------------*/

   /* 账号设置点击事件*/
    $(".accountset").on("click",function () {

        $(".rightprofilebody").html("");
        /*点击后改变当前点击栏目背景色*/
        $(".accountset").css("background-color","#f0f0f5");
        /*点击效果互斥*/
        var flist=$(".leftprofilebody div");
        for(var i=0;i<flist.length;i++){
            if(flist[i]!==this){
                flist[i].style.backgroundColor="white";
            }

        }
    })

</script>
</html>