<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>我的关注</title>
    <link rel="short icon"  href="/common/system_icon/favicon.ico"/>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/particles/style.css" rel="stylesheet" type="text/css">
    <link href="/css/profile.css" rel="stylesheet" type="text/css">
    <link href="/css/myfollow.css" rel="stylesheet" type="text/css">


</head>
<body>
<div id="particles-js">
    <!--   使用模板model, 隐藏参数便于传参-->
    <input type="hidden" id="userId" th:value="${session.user.id}">



    <div th:replace="/front/component/page::header">
    </div>

    <!--个人介绍-->
    <div class="p_head">
        <div class="title_author"><span th:text="${session.user.username+'的博客'}"></span></div>
        <div class="author_photo"><div class="p_photo"><img th:src="@{/common/profile_image/{image}(image=${session.user.image})}"></div></div>
        <div class="author_detail">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>

        </div>
    </div>

    <!--左边推荐-->
    <div class="p_lbody"></div>

    <!--右边关注-->
    <div class="p_rbody"></div>

    <div th:replace="/front/component/page::footer">
    </div>

</div>
</body>
<script src="js/plugin/jquery.js"></script>
<!--打字效果引入-->
<script src="js/plugin/commentTyping.js"></script>
<!--粒子效果引入-->
<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>
<script src="js/plugin/date.js"></script>


<script type="text/javascript">
    /*------------------------------------------------------------------------------------------------------*/
    /*头悬浮栏*/
    $(document).on("mouseover",".current_user_section",function () {
        $("#user_menu").css("display","block");
    })
    $(document).on("mouseout",".current_user_section",function () {
        $("#user_menu").css("display","none");
    })

    $(document).on("mouseout","#user_menu",function () {
        $("#user_menu").css("display","none");
    })

</script>
</html>