/*博客展示页面*/

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent;text-decoration:none;font-size: medium;color: black;}
a:hover{color: red}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{
    width:100%;
    height:100%;
    background:#111;
}

html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
    font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
    display:block;
    vertical-align:bottom;
    position:fixed;
    z-index:0;


}


/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

#stats,
.count-particles{
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats{
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles{
    border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
    width: 100vw;
    height: auto;
    background-color: rgb(248, 244, 244);
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;


}

#content{
   /* position: relative;
    float: left;*/
    width: 70%;
    height: auto;
    background-color: white;
    position: relative;
    z-index: 1;
    float: left;
    left: 25%;
      /*父级高度为auto时，使用%无效*/
    margin-top: 2vh;
    /*margin-bottom: 3vh;*/


}
/*博客相关信息*/
.blog_info{
    width: 72.5%;
    height:20vh;
    background-color: white;
    position: relative;
    z-index: 1;
    float: left;
    left: 25%;
    /*父级高度为auto时，使用%无效*/
    margin-top: 8vh;
}
/*左边用户相关统计信息*/
.author_info{
    width: 22%;
    float: left;
    height: 30vh;
    background-color: white;
    position:absolute;
    z-index: 1;
    margin-top: 8vh;
    margin-left:2%;
}
.aside_profile{
    position: absolute;
    height: 20%;
    width: 90%;
   /* border: solid 1px red;*/
    left: 5%;
    top:5%;
}
.pimage{
    float: left;
    position: absolute;
    height: 100%;
    width:21% ;
}
.pother{
    position: absolute;
    left: 22%;
    height:  95.12%;
    width: auto;
    padding-top: 1%;
}
.pother a{
    font-size: medium;
    color: black;
    font-weight: lighter;
}
.pother a:hover{
    color: red;
}
.pimage img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.aside_rank{
    position: absolute;
    height: 20%;
    width: 90%;
  /*  border: solid 1px red;*/
    left: 5%;
    top:25%;
}
/*用户博客数*/
.userblognum{
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
}
.userblognum a{
    font-weight: lighter;

}
.userblognum a:hover{
    color: red;

}
/*用户排名*/
.userrank{
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
}
.userrank a{
    font-weight: lighter;

}
.userrank a:hover{
    color: red;

}

/*用户等级*/
.usergrade{
    position: relative;
    float: left;
    height: 100%;
    width: 25%;
    text-align: center;
}
.usergrade a{
    font-weight: lighter;

}
.usergrade a:hover{
    color: red;

}
/*华丽分割线*/
.line{
    position: absolute;
    height: 0.5%;
    width: 90%;
    background-color: rgb(203, 203, 203);
    left: 5%;
    top:47%;
}

/*访问量点赞数评论数*/
.aside_fgc{
    position: absolute;
    height: 20%;
    width: 90%;
   /* border: solid 1px red;*/
    left: 5%;
    top:50%;
}
.usergoodcounts{
    position: relative;
    width: 25%;
    float: left;
    height: 50%;
    margin-top: 5px;
    /*text-align: center;*/
}
.usergoodcounts a{
    font-weight: lighter;
    font-size: small;
}
.usercomments{
    position: relative;
    width: 25%;
    float: left;
    height: 50%;
    margin-top: 5px;

   /* text-align: center;*/
}
.usercomments a{
    font-weight: lighter;
    font-size: small;
}
.userviews{
    position: relative;
    width: 25%;
    float: left;
    height: 50%;
    margin-top: 5px;
    /*text-align: center;*/
}
.userviews a{
    font-weight: lighter;
    font-size: small;
}
.usercollections{
    position: relative;
    width: 25%;
    float: left;
    height: 50%;
    margin-top: 5px;
   /* text-align: center;*/
}
.usercollections a{
    font-weight: lighter;
    font-size: small;
}
.title{
    width: 100%;
    height: 60%;
    position: relative;
    border-bottom: solid 1px  rgb(248, 244, 244);

}
.title span{
    position: absolute;
    font-size: 45px;
    left: 2%;
    bottom:20%;
}
.blog_detail{
    width: 100%;
    height: 40%;
    position: relative;
    border-top: solid 1px  rgb(248, 244, 244);

}
.detailone{
    width: 100%;
    height: 42%;
    position: relative;

}
.detailtwo{
    width: 100%;
    height: 48%;
    position: relative;
}
.profile{
    float: left;
    height: 100%;
    width: auto;
    position: relative;
    left: 1%;

}
.profile img{
    vertical-align: middle;
    width: 25px;
    height: 25px;
}
.profile a{
    font-size: medium;
    color: black;
    font-weight: lighter;
}
.profile a:hover{
    color: red;
}
.publishdate{
    float: left;
    height: 100%;
    width: auto;
    position: relative;
    left: 2%;
}
.publishdate a{
    color: black;
    font-size: medium;
    font-weight: lighter;
}
.publishdate a:hover{
    color: red;
}
.viewcount{
    float: left;
    height: 100%;
    width: auto;
    font-size: medium;
    position: relative;
    left: 3%;
}
.viewcount a{
    color: black;
    font-weight: lighter;
}
.viewcount a:hover{
    color: red;
}
.edit{
    float: right;
    position: relative;
    width: auto;
    height: 93.17%;
    padding-right: 1%;
    padding-top: 0.3%;
}
.edit a{
    font-size: medium;
    font-weight: lighter;
    color: black;

}
.edit a:hover{
    color: red;
}
.blogclass{
    position: relative;
    float: left;
    height: 100%;
    width: auto;
    left: 1%;
}
.classhead{
    height: 74.45%;
    width: auto;
    position: relative;
    float: left;
    padding-top: 5%;

}
.classhead  a{
    font-size: medium;
    font-weight: lighter;
    color: black;

}
.class{
    height: 70%;
    width: auto;
    position: relative;
    float: left;
    margin-left: 1vw;
    padding-top: 2%;
    background-color:  rgb(248, 244, 244);
    border: solid 1px grey;

}
.class a{
    color: black;
    font-size: medium;
    font-weight: lighter;
}
.class a:hover{
    color: red;
}
.blogtag{
    position: relative;
    float: left;
    height: 100%;
    left: 2%;
    width: auto;
}
.taghead{
    height: 74.45%;
    width: auto;
    position: relative;
    float: left;
    padding-top: 4%;
}
.taghead a{
    color: black;
    font-size: medium;
    font-weight: lighter;
}
.tag_b{
    height: 72%;
    width: auto;
    position: relative;
    float: left;
    margin-left: 1vw;
    padding-top: 2%;
    background-color:  rgb(248, 244, 244);
    border: solid 1px grey;
}
.tag_b a{
    color: black;
    font-size: medium;
    font-weight: lighter;
}
.tag_b a:hover{
    color: red;
}

/*左边我的博客分类信息*/
.myclassify{
    width: 22%;
    float: left;
    height: 30vh;
    background-color: white;
    position:absolute;
    z-index: 1;
    margin-top: 40vh;
    margin-left:2%;
}
.classSpan{
    left: 5%;
    position: relative;
    width: 90%;
    height: 20%;
    border-bottom: rgb(203, 203, 203) solid 2px;
}
.classSpan a{
    font-size: large;
    font-weight: lighter;

}

.classShow{
    left: 5%;
    position: relative;
    width: 90%;
    height: 80%;
    /*超出滚动隐藏*/
    overflow-x: hidden;
    overflow-y: scroll;
}
.classShow::-webkit-scrollbar{
    display: none;
}
.classitem{
    position: relative;
    width: 90%;
    height: 15%;
    left: 5%;
}
.classname{
    position: relative;
    float: left;
    height: 100%;
    width: 80%;

}
.classname a{
    font-weight: lighter;
}
.classblogcount{
    position: relative;
    float: left;
    height: 100%;
    width: 20%;
    text-align: right;
}
.classblogcount a{
    font-weight: lighter;
}

/*
博客目录信息*/
#my-toc-container{

    width: 21.3%;
    height:auto;
    background-color: white;
    position:fixed;
    z-index: 2;
    bottom: 7%;
    left: 2%;
    padding-top: 1%;
    padding-left: 1%;

    visibility:hidden;
    opacity: 0;

    /*不响应鼠标事件*/
    transition: opacity .5s;

    /*border-radius: 12px;*/
   justify-content: center;
    justify-items: center;

}

#my-toc-container::-webkit-scrollbar{

    display: none;

}
.markdown-toc-list li a{
    color: black;
    font-weight: lighter;
}
.markdown-toc-list li a:hover{
    color: red;
}

/*博客按钮*/
.catabutton{
    position: fixed;
    width: 6%;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.6);
    right: 0;
    bottom: 5%;
    z-index: 2;
    text-align: center;

}
.catabutton a{
    color: white;
}

.catabutton a:hover{
    color: yellow;
}

/*回到顶部*/
.backtotop{
    position: fixed;
    width: 6%;
    height: 3%;
    background-color: rgba(0, 0, 0, 0.6);
    right: 0;
    bottom: 1.5%;
    z-index: 2;
    text-align: center;

}
.backtotop a{
    color: white;
}

.backtotop a:hover{
    color: yellow;
}

/*推荐博客*/
.recomandblog{
    width: 22%;
    float: left;
    height: 30vh;
    background-color: white;
    position:absolute;
    z-index: 1;
    margin-top: 72vh;
    margin-left:2%;
}
.blogSpan{
    left: 5%;
    position: relative;
    width: 90%;
    height: 20%;
    border-bottom: rgb(203, 203, 203) solid 2px;
}
.blogSpan a{
    font-size: large;
    font-weight: lighter;

}

.blogShow{
    left: 5%;
    position: relative;
    width: 90%;
    height: 80%;
    /*超出滚动隐藏*/
    overflow-x: hidden;
    overflow-y: scroll;
}
.blogShow::-webkit-scrollbar{
    display: none;
}
.blogitem{
    position: relative;
    width: 90%;
    height: 15%;
    left: 5%;
}
.blogitem a{
    font-weight: lighter;
}

/*博客点赞数，评论数，以及收藏*/
.blog_cgv{
   position: relative;
    width: 73vw;
    height: 6vh;
    float: left;
    left: 25vw;
   /* margin-bottom: 3vh;*/
    background-color: white;
    border-top: rgba(0,0,0,0.18) 1px dashed;
    z-index: 1;

}
.comment{
    position: relative;
    width:10%;
    height: 100%;
    float: left;
    /*margin-left: 2%;*/
}

.comment_image{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;

}
.comment_image img{

    position: absolute;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    right: 5px;


}
.comment_image img:hover{
    content: url("/common/system_icon/comment_blog_hover.png");
}
.comment_item{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
.comment_item a{
    position: absolute;
    color: black;
    left: 0;
    margin-top: 10px;
    font-size: small;
}
.comment_item a:hover{
    color: red;
}

.goodcounts{
    position: relative;
    width: 10%;
    height: 100%;
    float: left;
    margin-left: 2%;

}
.goodcounts_image{
     position: relative;
     width: 30%;
     height: 100%;
     float: left;

 }
.goodcounts_image img{

    position: absolute;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    right: 5px;


}
.goodcounts_image img:hover{
    content: url("/common/system_icon/goodcounts_blog_hover.png");
}
.goodcounts_item{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
.goodcounts_item a{
    position: absolute;
    color: black;
    left: 0;
    margin-top: 10px;
    font-size: small;
}
.goodcounts_item a:hover{
    color: red;
}


.views{
    position: relative;
    width: 10%;
    height: 100%;
    float: left;
    /*margin-left: 2%;*/
}
.views_image{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;

}
.views_image img{

    position: absolute;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    right: 5px;


}
.views_image img:hover{
    content: url("/common/system_icon/views_blog_hover.png");
}
.views_item{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
.views_item a{
    position: absolute;
    color: black;
    left: 0;
    margin-top: 10px;
    font-size: small;
}
.views_item a:hover{
    color: red;
}

.collections{
    position: relative;
    width: 10%;
    height: 100%;
    float: left;
    /*margin-left: 2%;*/
}
.collections_image{
    position: relative;
    width: 30%;
    height: 100%;
    float: left;

}
.collections_image img{

    position: absolute;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    right: 5px;


}
.collections_image img:hover{
    content: url("/common/system_icon/collections_blog_hover.png");
}
.collections_item{
    position: relative;
    width: 70%;
    height: 100%;
    float: left;
}
.collections_item a{
    position: absolute;
    color: black;
    left: 0;
    margin-top: 10px;
    font-size: small;
}
.collections_item a:hover{
    color: red;
}

/*一键三连*/
.One_key_three_links{
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 2%;
}

/*
评论输入区*/
.comment_input_area{
    position: relative;
    width: 73vw;
    height: auto;
    float: left;
    left: 25vw;

    background-color: white;
    border-top: rgba(0,0,0,0.18) 1px dashed;
    z-index: 1;

}
.commenter{
    float: left;
    position: relative;
    width: 4%;
    height: 40px;
    top:12%;
    margin-left: 2%;



}
.commenter img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
}
.comment_text{
    padding-top: 2px;
    float: left;
    position: relative;
    width: 8%;
    height:30px;
    margin-top:5px;
    margin-bottom: 5px;
    font-size:14px;
    text-align: center;
}
.comment_content{
    float: left;
    position: relative;
    width: 60%;
    height:30px;
    margin-top:5px;
    margin-bottom: 5px;
    border-radius: 8px;
    border: 1px black solid;
    margin-left: 1%;;
    padding-left: 1%;
    overflow: hidden;
    outline: none;
    transition: .3s;
    font-size: medium;

}
/*表情包输入*/
.comment_emoji{
    float: left;
    position: relative;
    width: 61%;
    height:auto;
    margin-top:5px;
    margin-bottom: 5px;
    margin-left: 15%;;
    overflow: hidden;
    outline: none;
    transition: .3s;
    font-size: medium;
}
/*点击显示表情包*/
.showemoji{
    float: left;
    position: relative;
    width: 13%;
    height:22px;
    border-radius: 4px;
    border: 1px black solid;
    text-align: center;
    padding-bottom: 0.4%;

}

.showemoji:active{
background-color: black;
}
.showemoji:active a{
color: white;
}

.showemoji a{
    color: black;

}

/*发表评论按钮*/
.publish_comment{
    float: left;
    position: relative;
    width: 13%;
    height:22px;
    border-radius: 4px;
    border: 1px black solid;
    left: 73.4%;
    text-align: center;
    padding-bottom: 0.4%;

}
.publish_comment:active{
    background-color: black;
}
.publish_comment:active a{
    color: white;
}
.publish_comment a{
    color: black;

}


.emoji-collection{
    position: relative;
    float: left;
    width: 99.8%;
    height: auto;
    margin-top:3px;
    /*border: rgba(0,0,0,0.26) 1px solid;*/
    border-radius: 6px;
    overflow: hidden;
    outline: none;
    transition: height .3s;
    display: block;




}
.emoji_item{


}
.emoji_item li{
    float: left;
    border: 0.3px solid #928d8d;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;


}

/*评论区*/
.comment_area{
    position: relative;
    width: 73vw;
    height:60vh;
    float: left;
    left: 25vw;
    margin-bottom: 10vh;
    background-color: white;
    border-top: rgba(10, 10, 10, 0.6) 1px dashed;
    z-index: 1;
}


p {
    line-height: 1.3125rem;
}
.comments {
    margin: 2.5rem auto 0;
    max-width: 60.75rem;
    padding: 0 1.25rem;
}
.comment-wrapbox {
    margin-bottom: 1.25rem;
    display: table;
    width: 100%;
    min-height: 5.3125rem;
}
.photo {
    padding-top: 0.625rem;
    display: table-cell;
    width: 3.5rem;
}
.photo .avatar {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    background-size: contain;
}
.comment-block {
    padding: 1rem;
    background-color: #fff;
    display: table-cell;
    vertical-align: top;
    border-radius: 0.1875rem;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.29);
}
.comment-block textarea {
    width: 100%;
    max-width: 100%;
}
.comment-text {
    margin-bottom: 1.25rem;
    font-size: medium;
}
.bottom-comment {
    color: #45474b;
    font-size: 0.875rem;
}
.comment-date {
    float: left;
}
.comment-actions {
    float: right;
}
.comment-actions li {
    display: inline;
}
.comment-actions li.complain {
    padding-right: 0.625rem;
    border-right: 1px solid #e1e5eb;
}
.comment-actions li.reply {
    padding-left: 0.625rem;
}

/*虚拟回复框*/
.reply_window{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;

    transition: opacity .5s;

    /*初始隐藏*/
    visibility: hidden;
    opacity: 0;
    /*不响应鼠标事件*/
    pointer-events: none;

    /*居中*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.reply_window:target{
    visibility: visible;
    opacity: 1;
    /*响应鼠标事件*/
    pointer-events: auto;
}
.reply_window:target >div{
    transform: translateY(30%) rotateY(0.9deg);
    transition-timing-function: cubic-bezier(0.8, 0, 0, 1.5);
    opacity: 1;
}
.reply_window>div{
    /*子元素的相对位置*/
    position: relative;
    top: -10%;
    width: 350px;
    height: 120px;
    border-radius: 6px;
    padding: 0;
    background-color: #ffffff;
    font-size: medium;
    transition: .25s;
}