.p_head{
    position: relative;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 30%;
    z-index: 1;
    top:6%
}
.p_rbody{
    position: relative;
    float: left;
    width: 70%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    top:10%;
    left: 10%;
}
.p_lbody{
    position: relative;
    float: left;
    width: 20%;
    height: 60%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    top:10%;

}
.title_author{
    position: relative;
    height: 20%;
    width: 100%;
    padding-left: 5%;
    padding-top: 1%;
}
.title_author span{
    font-size: 25px;
}
.author_photo{

    position: relative;
    height: 50%;
    width: 100%;
}
.p_photo{
    position: relative;
    float: left;
    width: 10%;
    height: 100%;
    left: 45%;
}
.p_photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.author_detail{
    position: relative;
    width: 100%;
    height: 30%;
}
.author_detail div{
    position: relative;
    float: left;
}