/*个人信息修改与查询页面*/
.leftprofilebody{
    float: left;
    z-index: 1;
    position: relative;
    top: 10vh;
    left: 15vw;
    height: 24vh;
    width: 14vw;
    background-color: white;
    padding-top: 1%;
}
.leftprofilebody div{
    float: left;
    width: 100%;
    height: 24%;
    line-height: 50px;
    text-align: center;

}
.leftprofilebody div a{
    font-size: medium;
    color: black;
    font-weight: normal;
}
.leftprofilebody div:hover{
    background-color: #f0f0f5;
}
.leftprofilebody div:hover a{
    font-weight: bold;
}

.rightprofilebody{
    float: left;
    z-index: 1;
    position: relative;
    top: 10vh;
    left: 17vw;
    height: auto;
    width: 63vw;
    background-color: transparent;
}

/*---------------个人信息查询--------------*/
.basicinfo{

    width: 100%;
    height: 20vh;
    background-color: white;

}
.basicinfodetail{
    width: 100%;
    height: 60vh;
    background-color: white;
    margin-top: 2vh;

}
.profilebasic{
    width: auto;
    height: auto;
    padding: 10px 10px;

}
.profilephotobox img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profilephotobox{
    position: relative;
    float: left;
    width: auto;
    height: auto;
}
.profilename{
    position: relative;
    float: left;
    width: auto;
    height: 70px;
    text-align: center;
    line-height: 70px;
    left: 5px;

}
.profilename span{
    font-size: 26px;
    color: black;
    font-weight: normal;

}
.codeage{
    position: relative;
    float: left;
    width: auto;
    height: 70px;
    text-align: center;
    line-height:70px;
    left: 15px;
}
.codeage span{
    font-size: medium;
}
.personalstats{
    position: relative;
    float: right;
    width: auto;
    height: 70px;
    text-align: right;
    line-height:70px;

}
.personalstats a{
    color: black;
    font-size: medium;
}
.personalstats a:hover{
    color: red;
}
.personlevel{
    position: relative;
    height: 30px;
    width: 700px;
    float: left;
}
.check-in{
    position: relative;
    float: left;
    height: 30px;
    width:70px ;
    text-align: center;
    line-height: 30px;
}
.check-in a{
    font-size: medium;
    color: black;
}
.check-in a:hover{
    color: red;
}

.userlevel{
    position: relative;
    float: left;
    height: 30px;
    width:70px ;
    text-align: center;
    line-height: 30px;
}
.userlevel span{
    font-size: medium;
}
/*--------个人信息修改---------*/
.basictext{
    width: 95%;
    height: 7%;
    padding: 20px 20px 10px 20px;

}
.basictext span{
    font-size: 20px;
    font-weight: bold;
}
.editprofile{
    width: 95%;
    height: 83.2%;
    margin: 1.2% 2.4%;
}
.editprofile:hover{
    background-color: rgb(243, 243, 243);
}
.ul_profile{
    position: relative;
    width: 93.4%;
    height: 98.5%;
    float: left;
    padding: 1.2% 0 1.2% 1.2%;
}
.ul_profile li{
    list-style-type: none;
    width: auto;
    height: 10%;
    padding-bottom:2%;

}
.editprofile-do{
    position: relative;
    right: 1%;
    width:auto ;
    float: right;
    height: auto;
    top: 1%;
}
.editprofile-do a{
    color: rgba(0,0,0,0.55);
    font-size: medium;

}
.editprofile-do a:hover{
    color: red;
    cursor: pointer;
}
.profileshow-l{
    position: relative;
    height: auto;
    width: 80px;
    font-size: medium;
    float: left;
    color: rgba(0,0,0,0.55);
    text-align: left;


}
.profileshow-r{
    position: relative;
    float: left;
    height: auto;
    width: auto;
    font-size: medium;
    left: 20px;
    color: rgba(0,0,0,0.55);
}
.profileshow-r-reputation{
    position: relative;
    float: left;
    height: auto;
    width: 98%;
    font-size: medium;
    color: rgba(0,0,0,0.55);
    left: 2%;

}
.profileshow-r-userid{
    position: relative;
    float: left;
    height: 24px;
    width: auto;
    font-size: medium;
    color: rgba(0,0,0,0.55);
    padding-top: 5px;
    left: 20px;
}
.profileshow-r-birthday{
    position: relative;
    float: left;
    height: 24px;
    width: auto;
    font-size: medium;
    color: rgba(0,0,0,0.55);
    padding-top: 5px;
    left: 20px;
}
/*修改profile*/
.edittingprofile{
    width: 95%;
    height: 83.2%;
    margin: 1.2% 2.4%;
    text-align: center;
}
.mainedit{
    width: 95%;
    height: 85%;
}
.e_user{
    position: relative;
    float: left;
    width: 40%;
    height: 30%;
    left: 14%;
}
.e_text{

    width: 100%;
    height: 40%;
    font-size: large;
    text-align: left;
}
.e_input{
    width: 100%;
    height: 60%;
    text-align: left;
}
.e_input input{
    width: 80%;
    height: 50%;
    font-size: large;
}
.e_reputation{
    position: relative;
    float: left;
    width: 86%;
    height: 30%;
    left: 14%;
}
#reputation{
    overflow-y: scroll;
    border: 1px solid black;
    height: 45%;
    text-align: left;
    font-size: medium;
}

.e_cancel{
    position: relative;
    float: left;
    width: 40%;
    height: 35%;
    border: 1px solid black;
    top: 20%;
    border-radius: 5px;
}
.e_cancel:hover{
    background-color: rgba(0,0,0,0.29);
}
.e_cancel:active{
    background-color: black;
}
.e_cancel:active a{
   color: white;
}
.e_cancel a{
    font-size: 22px;
    color: black;
    cursor: pointer;
}
.e_confirm{
    float: left;
    position: relative;
    width: 40%;
    height: 35%;
    border: 1px solid black;
    left: 1%;
    top: 20%;
    border-radius: 5px;
}
.e_confirm:hover{
    background-color: rgba(0,0,0,0.29);
}
.e_confirm:active{
    background-color: black;
}
.e_confirm:active a{
    color: white;
}

.e_confirm a{
    font-size: 22px;
    color: black;
    cursor: pointer;
}
.e_input select{
    font-size: large;
}

/*
-------------------------------------------账号信息---------------------------------------*/
.account_text{
    width: 95%;
    height: 5vh;
    padding: 20px 20px 5px 20px;
    background-color: white;
}

.account_text span{
    font-size: 20px;
    font-weight: bold;

}
.accountinfo{
    width: 95%;
    height: 67vh;
    padding: 1.2% 2.4%;
    background-color: white;
}
.account_md{
    position: relative;
    width: 95%;
    height: 5vh;
   font-size: medium;
    color: rgba(0,0,0,0.55);
    left: 1%;
}
.account_l{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    text-align: left;
}

.account_r-phone{
    float: left;
    position: relative;
    width: 40%;
    height: 87%;
    text-align: left;
}
.account_r-email{
    float: left;
    position: relative;
    width: 40%;
    height: 87%;
    text-align: left;
}

.modifyitem-phone{
    float: left;
    position: relative;
    width: 10%;
    height: 100%;
    text-align: left;
}
.modifyitem-email{
    float: left;
    position: relative;
    width: 10%;
    height: 100%;
    text-align: left;
}
.modifyitem-email a{
    color: rgba(0,0,0,0.55);
    font-size: medium;
}
.modifyitem-email a:hover{
    color: red;
}
.modifyitem-email a:active{
    color: black;
}

.modifyitem-phone a{
    color: rgba(0,0,0,0.55);
    font-size: medium;
}
.modifyitem-phone a:hover{
    color: red;
}
.modifyitem-phone a:active{
    color: black;
}
.account_mdpasswd{

    position: relative;
    width: 95%;
    height: auto;
    font-size: medium;
    color: rgba(0,0,0,0.55);
    left: 1%;
}

.passwdchange{

    height: 25px;
    width: 100%;

}
.passwdchange-btn {
    position: relative;
    float: left;
    width: 10%;
    height: 100%;
}
.submirpasswd-info{
    position: relative;
    float: left;
    width: 20%;
    left: 15%;

}
.passwdchange .passwdchange-btn a{
    color: rgba(0,0,0,0.55);
}

.passwdchange .passwdchange-btn a:hover{
    color: red;
}
.passwdchange .passwdchange-btn a:active{
    color: black;
}

.showchangepw{
    height: 155px;
    width: 100%;
    display: none;

}

.changepw{
    position: relative;
    float: left;
    width: 90%;
    height: auto;
    margin-top: 10px;
    left: 9%;
}

.p-text{
    position: relative;
    float: left;
    width: 15%;
    height: 29px;
    padding-top: 1px;
}
.originalpasswd-input{

    position: relative;
    float: left;
    width: 30%;
    height: 26px;
    left: 5%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.55);
    padding-left: 10px;
    padding-top: 2px;
}


.oi-info{
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    left: 8%;
}

.newpasswd-input{
    position: relative;
    float: left;
    width: 30%;
    height: 26px;
    left: 5%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.55);
    padding-left: 10px;
    padding-top: 2px;
}

.conpasswd-input{
    position: relative;
    float: left;
    width: 30%;
    height: 26px;
    left: 5%;
    border-radius: 50px;
    border: 1px solid rgba(0,0,0,0.55);
    padding-left: 10px;
    padding-top: 2px;
}
.cp-info{
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    left: 8%;
}
.np-info{
    position: relative;
    float: left;
    width: 20%;
    height: 30px;
    left: 8%;
}

.submirpasswd{
    position: relative;
    width: 10%;
    left: 52%;
}
.submirpasswd a{
color: rgba(0,0,0,0.55)
}
.submirpasswd a:hover{
    color: red;
}
.submirpasswd a:active{
    color: black;
}
.pm-info{
    position: relative;
    float: left;
    width: auto;
    height: 100%;
}

.pe-info{
    position: relative;
    float: left;
    width: auto;
    height: 100%;
}
