<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${blog.title+'-'+blog.user.username}"></title>
    <link rel="short icon"  href="/common/system_icon/favicon.ico"/>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/blogshow.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="editor/css/editormd.css" type="text/css">

</head>
<body>
<div id="particles-js">
<!--   使用模板model, 隐藏参数便于传参-->
    <input id="blogId" type="hidden" th:value="${blog.id}">


    <div th:replace="/front/component/page::header">
    </div>
    <!--虚拟目录-->
    <!--当前博客目录信息隐藏-->
    <div id="my-toc-container">
    </div>
    <!--虚拟回复框-->
    <div id="open_reply" class="reply_window">
        <input type="hidden" id="commentId">
        <input type="hidden" id="criticId">
        <div>
            <!--头-->
            <div class="reply_span">
                <div class="reply_title"><span>回复评论</span></div>
                <div class="reply_close"><a href="javascript:void(0)">关闭</a></div>
            </div>
          <!--  输入主体-->
            <div class="reply_body">
                <div class="reply_to">
                    <div class="reply_name">
                        <span>回复@</span>
                        <span class="s_towho"></span>
                    </div>
                    <div class="reply_photo">
                        <img >

                    </div>
                </div>
                <div class="reply_content" contenteditable="true">

                </div>
                <div class="reply_emoji">
                    <div onClick="showReplyEmoji()" class="showreplyemoji">
                        <a href="javascript:void(0)">插入表情</a>
                    </div>

                    <div class="publish_reply">
                        <a href="javascript:void(0)">发表回复</a>
                    </div>

                    <div class="emoji-Replycollection">

                    </div>
                </div>


            </div>
            <!--消息返回-->
            <div class="reply_info"></div>


        </div>
    </div>
   <!-- 目录打开关.闭按钮,回到顶部-->
    <div class="catabutton"><a href="javascript:void(0)">打开目录</a></div>
    <div class="backtotop"><a href="#particles-js">回到顶部</a></div>


    <!--作者信息-->
    <div class="author_info">
        <div class="aside_profile">
            <div class="pimage">
                <img th:src="@{/mycommon/getImage(image=${blog.user.image})}">
            </div>
            <div class="pother">
                <a href="" th:text="${blog.user.username}"></a><br>
                <hr style="margin: 0">
                <a href="" th:text="${'码龄:'+blogPageuser.codeage+'年'}"></a>
            </div>
        </div>
        <div class="aside_rank">
            <div class="userblognum"><a href="" th:text="${'原创:'+blogPageuser.userblogcount}"></a></div>
            <div class="userrank"><a href="" th:text="${'排名:'+blogPageuser.userblogcount}"></a></div>
            <div class="usergrade"><a href="" th:text="${'等级:'+blogPageuser.userblogcount}"></a></div>
        </div>
        <div class="line"></div>
        <div class="aside_fgc">
            <div class="usergoodcounts"><a href="" th:text="${'点赞数:'+blogPageuser.usergoodcounts}"></a></div>
            <div class="userviews"><a href="" th:text="${'浏览量:'+blogPageuser.userviews}"></a></div>
            <div class="usercomments"><a href="" th:text="${'评论数:'+blogPageuser.usercomments}"></a></div>
            <div class="usercollections"><a href="" th:text="${'收藏:'+blogPageuser.usercollections}"></a></div>
        </div>

    </div>
    <!--中间博客详细信息-->
    <div class="blog_info">
        <div class="title">
        <span th:text="${blog.title}"></span>
        </div>
        <div class="blog_detail">
            <div class="detailone">
                <div class="profile" >
                    <img th:if="${blog.isoriginal==1}" title="原创" src="/common/system_icon/original_o.png">
                    <img th:if="${blog.isoriginal==0}" title="转载" src="/common/system_icon/Reprinted.png">
                    <a href="" th:text="${blog.user.username}"></a>
                </div>
                <div class="publishdate">
                    <a href="javascript:void(0)" th:text="${'发布时间:'+#dates.format(blog.publish_time,'yyyy-MM-dd HH:mm')}"></a>
                </div>
                <div class="viewcount">
                <a href="" th:text="${'浏览量:'+blog.views}"></a>
                </div>
                <div class="edit"  th:if="${session.user.id!=blog.user.id}">
                    <a th:href="@{'/myblog/modPage?blogId='+${blog.id}}">编辑</a>
                </div>
            </div>
            <div class="detailtwo">
                <div class="blogclass">
                    <div class="classhead">
                        <a href="javascript:void(0)">分类专栏:</a>
                    </div>
                    <div class="class">
                        <a href="" th:text="${blog.classification.name}"></a>
                    </div>
                </div>
                <div class="blogtag">
                    <div class="taghead">
                        <a href="javascript:void(0)">分类标签:</a>
                    </div>
                    <div class="tag_b">
                        <a href="" th:text="${blog.tag.name}"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

   <!-- 左边博客分类栏-->
    <div class="myclassify">
        <div class="classSpan"><a href="javascript:void(0)">分类专栏</a></div>
        <div class="classShow">
            <div class="classitem" th:each="c:${classlistcount}">

                <div class="classname">
                    <a href="javascript:void(0)" th:text="${c.name}"></a>
                </div>
                <div class="classblogcount">
                    <a href="javascript:void(0)" th:text="${c.counts}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="recomandblog">
        <div class="blogSpan"><a href="javascript:void(0)">推荐文章</a></div>
        <div class="blogShow">
            <div class="blogitem" th:each="r : ${recomandblogs}">
                <a href="" th:text="${r.title}"></a>
            </div>
        </div>
    </div>

<!--    博客主体内容-->
    <div class="blog_content" id="content">
            <textarea id="appendcontent" style="display:none;" th:text="${blog.content}"></textarea>
    </div>
   <!-- 博客点赞评论数区域-->
    <div class="blog_cgv">
        <div class="goodcounts">
            <div class="goodcounts_image">
                <img src="/common/system_icon/goodcounts_blog.png">
            </div>
            <div class="goodcounts_item">
                <a href="javascript:void(0)" th:text="${'点赞'+blog.good_count}"></a>
            </div>
        </div>
        <div class="comment">
            <div class="comment_image">
                <img src="/common/system_icon/comment_blog.png">
            </div>
            <div class="comment_item">
                <a href="javascript:void(0)" th:text="${'评论'+blog.comments}"></a>
            </div>
        </div>
        <div class="views">
            <div class="views_image">
                <img src="/common/system_icon/views_blog.png">
            </div>
            <div class="views_item">
                <a href="javascript:void(0)" th:text="${'浏览量'+blog.views}"></a>
            </div>
        </div>

        <div class="collections">
            <div class="collections_image">
                <img src="/common/system_icon/collections_blog.png">
            </div>
            <div class="views_item">
                <a href="javascript:void(0)" th:text="${'收藏量'+blog.views}"></a>
            </div>

        </div>

       <!--当前未登录或者是登录用户访问其他用户博客才显示-->
        <div class="One_key_three_links"  th:if="${session.user.id!=blog.user.id}">
            <div class="collect"></div>
            <div class="follow"></div>
            <div class="three_trigger"></div>
        </div>
    </div>

    <!--评论输入区域-->
    <div class="comment_input_area">
        <div class="commenter">
            <img th:src="@{/mycommon/getImage(image=${blog.user.image})}">
        </div>
        <div class="comment_text"><span>发表评论：</span></div>

        <div class="comment_content" contenteditable="true">

        </div>
        <div class="comment_emoji">
            <div onClick="showEmoji()" class="showemoji">
                <a href="javascript:void(0)">插入表情</a>
            </div>

            <div class="publish_comment">
                <a href="javascript:void(0)">发表评论</a>
            </div>

            <div class="emoji-collection">

            </div>
        </div>

    </div>
   <!-- 显示评论区-->
    <div class="comment_area">
        <div class="comments">


            <div class="comment-wrapbox" th:each="c:${comments}">
                 <!--评论人头像-->
                <div class="photo">
                    <div class="avatar" th:style="'background-image:'+ 'url('+'/common/profile_image/'+${c.critic.image}+')'"></div>
                </div>
                <!--评论人昵称-->
                <div class="c_username">

                        <a href="javascript:void(0)" th:text="${c.critic.username}"></a>

                </div>
                <div class="comment-block">
                    <!--评论内容-->
                    <p class="comment-text" th:text="${c.comment_content}"></p>
                    <!--回复内容-->
                    <div class="reply-block" th:each="r:${c.replyCommentList}">
                        <div class="fromphoto"><img th:src="@{/common/profile_image/{fromimage}(fromimage=${r.from.image})}" th:title="${r.from.username}"></div>
                        <div class="fromusername" th:text="${r.from.username}"></div>
                        <div class="replytext" th:if="${c.critic.id!=r.to.id}" >回复</div>
                        <div class="tophoto" th:if="${c.critic.id!=r.to.id}" ><img th:src="@{/common/profile_image/{toimage}(toimage=${r.to.image})}" th:title="${r.to.username}"></div>
                        <div class="tousername" th:if="${c.critic.id!=r.to.id}" th:text="${r.to.username}"></div>
                        <div class="replyContent" th:text="${':'+r.reply_content}"></div>
                        <div class="subreply"><a href="#open_reply">回复</a></div>
                        <input type="hidden" th:value="${c.id}">
                        <input type="hidden" th:value="${r.from.id}">
                        <input type="hidden" th:value="${r.from.username}">
                        <input type="hidden" th:value="${r.from.image}">
                        <div class="subreplytime" th:text="${'回复时间: '+#dates.format(r.reply_time,'yyyy-MM-dd HH:mm')}"></div>

                    </div>
                    <div class="bottom-comment">
                        <div class="comment-date" th:text="${'评论时间: '+#dates.format(c.comment_time,'yyyy-MM-dd HH:mm')}" ></div>
                        <ul class="comment-actions">
                            <li class="reply"><a href="#open_reply">回复</a></li>
                        </ul>
                        <input type="hidden" th:value="${c.critic.id}">
                        <input type="hidden" th:value="${c.id}">
                        <input type="hidden" th:value="${c.critic.username}">
                        <input type="hidden" th:value="${c.critic.image}">

                    </div>
                </div>
            </div>
        <div class="next_comment_page"></div>

    </div>
    </div>
    <div th:replace="/front/component/page::footer">
    </div>

  </div>
</body>
<script src="js/plugin/jquery.js"></script>
<!--打字效果引入-->
<script src="js/plugin/commentTyping.js"></script>
<!--editormd引入-->
<script src="editor/editormd.js"></script>
<script src="editor/lib/marked.min.js"></script>
<script src="editor/lib/prettify.min.js"></script>
<script src="editor/lib/raphael.min.js"></script>
<script src="editor/lib/underscore.min.js"></script>
<script src="editor/lib/sequence-diagram.min.js"></script>
<script src="editor/lib/flowchart.min.js"></script>
<script src="editor/lib/jquery.flowchart.min.js"></script>
<!--粒子效果引入-->
<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>
<!--表情包引入-->
<script src="js/plugin/emoji-lib/emoji-list-with-image.js"></script>
<script src="js/plugin/emoji-lib/punycode.js"></script>
<script src="js/plugin/emoji-lib/punycode.min.js"></script>
<script src="js/plugin/emoji-lib/emoji.js"></script>
<script type="text/javascript">


    /*前端解析md*/
    $(document).ready(function () {
        editormd.markdownToHTML("content", {
            /*htmlDecode: "style,script,iframe", //可以过滤标签解码*/
            htmlDecode      : "style,script,iframe",
            tocm: true,
            tocContainer: "#my-toc-container", // 自定义 ToC 容器层
            emoji: true,
            taskList:true,
            tex: true,               // 默认不解析
            flowChart:true,         // 默认不解析
            sequenceDiagram:true,  // 默认不解析
        });
    })

    /*头悬浮栏*/
    $(document).on("mouseover",".current_user_section",function () {
        $("#user_menu").css("display","block");
    })
    $(document).on("mouseout",".current_user_section",function () {
        $("#user_menu").css("display","none");
    })

    $(document).on("mouseout","#user_menu",function () {
        $("#user_menu").css("display","none");
    })

/*--------------------------------------------------------------------------*/
    //显示与关闭目录
    $(".catabutton a").on("click",function () {
        if(this.text==="打开目录"){
            $("#my-toc-container").css("visibility","visible");
            $("#my-toc-container").css("opacity","1");

            this.innerHTML="关闭目录";
            return 0;
        }
        if(this.text==="关闭目录"){
            $("#my-toc-container").css("visibility","hidden");
            $("#my-toc-container").css("opacity","0");

            this.innerHTML="打开目录";
            return 0;
        }

    })
/*-----------------------------------------------------------------------------*/
   /* 评论框点击事件*/
    $(".comment_content").on("click",function () {

        $(".comment_content").css("border","#03a7ff solid 2px");
        $(".comment_content").css("height","100px");

    })
// 评论框失去焦点事件
    $(".comment_content").on("blur",function () {

        $(".comment_content").css("border","black solid 1px");
        $(".comment_content").css("height","30px");

    })
/* -----------------------------------------------------------------------------------*/
     /*表情包展示*/
    //点击展示表情
    function  showEmoji() {
        let that = this
      /*  显示与隐藏*/
        $(".emoji-collection").html("");
        if($(".showemoji a").text()==="插入表情"){
            $(".showemoji a").text("关闭表情");
            $(".emoji-collection").css("border","rgba(0,0,0,0.26) 1px solid");
            $(".emoji-collection").css("height","auto");
            that.renderEmoji();

        }
        else{
            $(".showemoji a").text("插入表情");

            $(".emoji-collection").css("border","0px");
                $(".emoji-collection").css("height","0px");

        }


        //点击表情将表情添加在emoji中
        //对每一个表情包绑定点击事件
        $(".emoji-icon").each(function (k, v) {
            $(v).click(function () {
                var code = $(this).attr("unicode16");
               /* $(".comment_content").append(that.parse("&#" + parseInt(code, 16) + ";"));*/
                /*光标位置插入表情包*/
                // 判断文档输入框是否focus
                if($(".comment_content").is(":focus")){
                    insertHtmlAtCaret(that.parse("&#" + parseInt(code, 16) + ";"))
                }
                /*若评论编辑框不处于focus状态，则设置为focus状态，并写入点击的表情包*/
                else{
                    $(".comment_content").focus();
                    insertHtmlAtCaret(that.parse("&#" + parseInt(code, 16) + ";"))
                }


            });
        });
    }
    /* 获取光标并插入*/
    function insertHtmlAtCaret(html) {
        var sel, range;
        if (window.getSelection) {
            // IE9 and non-IE
            sel = window.getSelection();
            if (sel.getRangeAt && sel.rangeCount) {
                range = sel.getRangeAt(0);
                range.deleteContents();
                // Range.createContextualFragment() would be useful here but is
                // non-standard and not supported in all browsers (IE9, for one)
                var el = document.createElement("div");
                el.innerHTML = html;
                var frag = document.createDocumentFragment(), node, lastNode;
                while ((node = el.firstChild)) {
                    lastNode = frag.appendChild(node);
                }
                range.insertNode(frag);
                // Preserve the selection
                if (lastNode) {
                    range = range.cloneRange();
                    range.setStartAfter(lastNode);
                    range.collapse(true);
                    sel.removeAllRanges();
                    sel.addRange(range);
                }
            }
        } else if (document.selection && document.selection.type != "Control") {
            // IE < 9
            document.selection.createRange().pasteHTML(html);
        }
    }

    //动态生成表情列表
    function renderEmoji () {
        var emos = getEmojiList()[0];
        var html = '<ul class="emoji_item">';
        for (var j = 0; j < emos.length; j++) {
            var emo = emos[j];
            var data = 'data:image/png;base64,' + emo[2];
                html += '<li>';
            html += '<img style="display: inline;vertical-align: middle;" src="' + data + '"  unicode16="' + emo[1] + '"  class="emoji-icon"  /></li>';
        }
        $(".emoji-collection").append(html);
    }
    //表情 通过该方法 可以直接把表情在输入框中显示出来。
    function parse (arg) {
        if(typeof ioNull != 'undefined') {
            return ioNull.emoji.parse(arg);
        }
        return '';
    }
/*-------------------------------------------------------------------------------------------------------------------*/
/*点击表情包区域编辑框不失焦点*/
    $(".comment_emoji").on("mousedown",function (event) {
    event .preventDefault();
    return false;

})
/*-----------------------------------------------------------------------------------------------------*/
// 发表评论事件
    $(".publish_comment").on("click",function () {
        /*获取评论框的输入内容*/
        let comment=$(".comment_content").text();
        let blogId=$("#blogId").val();
        if(comment!=null&&comment.replace(/^\s+|\s+$/g,'').length !==0){
            /*使用ajax*/
            $.ajax({
                /* 返回数据*/
                dataType: "text",
                url: "/comment",
                type: "post",
                data: {'comment':comment,'blogId':blogId},
                success:function (msg) {
                    /*刷新*/

                    location.reload();

                },
                error:function (msg) {
                    alert(msg);

                }


            })
        }
        else{
            alert("输入评论为空或空串");
        }

    })
/*    ----------------------------------------------------------------------------------*/
// 回复框关闭按钮
    $(".reply_close a").on("click",function () {
            if(window.location.hash!==""){
                window.location.hash=null;
            }
    })
    /* hash 属性是一个可读可写的字符串，该字符串是 URL 的锚部分,去除地址栏锚点部分*/
    window.onload=function(){
        if(window.location.hash!==""){
            window.location.hash="";
        }
    }
  /*  ----------------------------------------------------------------------------------------*/
 /*   点击回复按钮传递评论参数*/
    $(".reply a").on("click",function () {
        var criticId=this.parentElement.parentElement.nextElementSibling.value;
        var commentId=this.parentElement.parentElement.nextElementSibling.nextElementSibling.value;
        var criticName=this.parentElement.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.value;
        var criticPhoto=this.parentElement.parentElement.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;

        $("#commentId").val(commentId);
        $("#criticId").val(criticId);

        $(".s_towho").text(criticName);
        $(".reply_photo img").attr("src","/common/profile_image/"+criticPhoto)

    })
    /*虚拟回复框点击效果*/
    $(".reply_content").on("click",function () {
        $(".reply_content").css("height","150px");
        $(".reply_content").css("border","#03a7ff solid 2px");

    })
    $(".reply_content").on("blur",function () {
        $(".reply_content").css("height","30px");
        $(".reply_content").css("border","1px black solid");

    })
/*-----------------------------------------------------------------------------------------------------*/
    /*回复框表情包输入*/

    function  showReplyEmoji() {
        let that = this
        /*  显示与隐藏*/
        $(".emoji-Replycollection").html("");
        if($(".showreplyemoji a").text()==="插入表情"){
            $(".showreplyemoji a").text("关闭表情");
           /* $(".emoji-Replycollection").css("border","rgba(0,0,0,0.26) 1px solid");*/
            $(".emoji-Replycollection").css("height","auto");
            that.renderReplyEmoji();

        }
        else{
            $(".showreplyemoji a").text("插入表情");

            $(".emoji-Replycollection").css("border","0px");
            $(".emoji-Replycollection").css("height","0px");

        }


        //点击表情将表情添加在emoji中
        //对每一个表情包绑定点击事件
        $(".emoji-icon").each(function (k, v) {
            $(v).click(function () {
                var code = $(this).attr("unicode16");
                /* $(".comment_content").append(that.parse("&#" + parseInt(code, 16) + ";"));*/
                /*光标位置插入表情包*/
                // 判断文档输入框是否focus
                if($(".reply_content").is(":focus")){
                    insertHtmlAtCaret(that.parse("&#" + parseInt(code, 16) + ";"))
                }
                /*若评论编辑框不处于focus状态，则设置为focus状态，并写入点击的表情包*/
                else{
                    $(".reply_content").focus();
                    insertHtmlAtCaret(that.parse("&#" + parseInt(code, 16) + ";"))
                }


            });
        });
    }
    /* 获取光标并插入*/
    function insertHtmlAtCaret(html) {
        var sel, range;
        if (window.getSelection) {
            // IE9 and non-IE
            sel = window.getSelection();
            if (sel.getRangeAt && sel.rangeCount) {
                range = sel.getRangeAt(0);
                range.deleteContents();
                // Range.createContextualFragment() would be useful here but is
                // non-standard and not supported in all browsers (IE9, for one)
                var el = document.createElement("div");
                el.innerHTML = html;
                var frag = document.createDocumentFragment(), node, lastNode;
                while ((node = el.firstChild)) {
                    lastNode = frag.appendChild(node);
                }
                range.insertNode(frag);
                // Preserve the selection
                if (lastNode) {
                    range = range.cloneRange();
                    range.setStartAfter(lastNode);
                    range.collapse(true);
                    sel.removeAllRanges();
                    sel.addRange(range);
                }
            }
        } else if (document.selection && document.selection.type != "Control") {
            // IE < 9
            document.selection.createRange().pasteHTML(html);
        }
    }

    //动态生成表情列表
    function renderReplyEmoji () {
        var emos = getEmojiList()[0];
        var html = '<ul class="emoji_Replyitem">';
        for (var j = 0; j < emos.length; j++) {
            var emo = emos[j];
            var data = 'data:image/png;base64,' + emo[2];
            html += '<li>';
            html += '<img style="display: inline;vertical-align: middle;" src="' + data + '"  unicode16="' + emo[1] + '"  class="emoji-icon"  /></li>';
        }
        $(".emoji-Replycollection").append(html);
    }
    //表情 通过该方法 可以直接把表情在输入框中显示出来。
    function parse (arg) {
        if(typeof ioNull != 'undefined') {
            return ioNull.emoji.parse(arg);
        }
        return '';
    }
    /*点击表情包区域编辑框不失焦点*/
    $(".reply_emoji").on("mousedown",function (event) {
        event .preventDefault();
        return false;

    })
    /*-------------------------------------------------------------------------------------------------------------------*/
    /*提交回复*/
    $(document).on("click",'.publish_reply',function () {
        //子评论所在的父评论id
        let commentId=$("#commentId").val();
        //就是你要回复的用户id
        let toUId=$("#criticId").val();
        //回复内容
        let replyContent=$(".reply_content").text();

        if(replyContent!=null&&replyContent.replace(/^\s+|\s+$/g,'').length !==0){
            //使用ajax与服务器交流
            $.ajax({
                dataType: "text",
                url: "/reply",
                type: "post",
                data:{'commentId':commentId,'toUId':toUId,'replyContent':replyContent},
                success:function (msg) {
                    $(".reply_info").text(msg);
                    setTimeout(setBlankc,1200);
                    setTimeout(closewindow,1400);
                    setTimeout(refresh,1500);
                    return 0;



                },
                error:function (msg) {
                 /*   $(".reply_info").text(msg);
                    setTimeout(setBlankc(),1000);
                    closewindow();
                    location.reload();*/
                    return 0;
                }


            })

        }
        else{
            alert("回复内容为空或者为空串")
        }



    })
/*定时功能函数*/
    function setBlankc(){
        $(".reply_info").text("");
    }
    function closewindow() {
        $(".reply_close a").click();

    }
    function refresh() {
        location.reload();

    }
/*--------------------------------------------------------------------------------------------*/
/*子评论回复*/
    $(document).on("click",'.subreply',function () {
        var commentId=this.nextElementSibling.value;
        var criticId=this.nextElementSibling.nextElementSibling.value;
        var criticName=this.nextElementSibling.nextElementSibling.nextElementSibling.value;
        var criticPhoto=this.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.value;

        $("#commentId").val(commentId);
        $("#criticId").val(criticId);

        $(".s_towho").text(criticName);
        $(".reply_photo img").attr("src","/common/profile_image/"+criticPhoto)
    })
</script>
</html>