<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${blog.title+'-'+blog.user.username}"></title>
    <link rel="short icon"  href="/common/system_icon/favicon.ico"/>
    <link href="/css/footer.css" rel="stylesheet" type="text/css">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/blogshow.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="editor/css/editormd.css" type="text/css">

</head>
<body>
<div id="particles-js">
    <div th:replace="/front/component/page::header">
    </div>
    <!--虚拟目录-->
    <!--当前博客目录信息隐藏-->
    <div id="my-toc-container">
    </div>
   <!-- 目录打开关闭按钮,回到顶部-->
    <div class="catabutton"><a href="javascript:void(0)">打开目录</a></div>
    <div class="backtotop"><a href="#particles-js">回到顶部</a></div>


    <!--作者信息-->
    <div class="author_info">
        <div class="aside_profile">
            <div class="pimage">
                <img th:src="@{/common/getImage(image=${blog.user.image})}">
            </div>
            <div class="pother">
                <a href="" th:text="${blog.user.username}"></a><br>
                <hr style="margin: 0">
                <a href="" th:text="${'码龄:'+blogPageuser.codeage+'年'}"></a>
            </div>
        </div>
        <div class="aside_rank">
            <div class="userblognum"><a href="" th:text="${'原创:'+blogPageuser.userblogcount}"></a></div>
            <div class="userrank"><a href="" th:text="${'排名:'+blogPageuser.userblogcount}"></a></div>
            <div class="usergrade"><a href="" th:text="${'等级:'+blogPageuser.userblogcount}"></a></div>
        </div>
        <div class="line"></div>
        <div class="aside_fgc">
            <div class="usergoodcounts"><a href="" th:text="${'点赞数:'+blogPageuser.usergoodcounts}"></a></div>
            <div class="userviews"><a href="" th:text="${'浏览量:'+blogPageuser.userviews}"></a></div>
            <div class="usercomments"><a href="" th:text="${'评论数:'+blogPageuser.usercomments}"></a></div>
            <div class="usercollections"><a href="" th:text="${'收藏:'+blogPageuser.usercollections}"></a></div>
        </div>

    </div>
    <!--中间博客详细信息-->
    <div class="blog_info">
        <div class="title">
        <span th:text="${blog.title}"></span>
        </div>
        <div class="blog_detail">
            <div class="detailone">
                <div class="profile" >
                    <img th:if="${blog.isoriginal==1}" title="原创" src="/common/system_icon/original_o.png">
                    <img th:if="${blog.isoriginal==0}" title="转载" src="/common/system_icon/Reprinted.png">
                    <a href="" th:text="${blog.user.username}"></a>
                </div>
                <div class="publishdate">
                    <a href="javascript:void(0)" th:text="${'发布时间:'+#dates.format(blog.publish_time,'yyyy-MM-dd HH:mm')}"></a>
                </div>
                <div class="viewcount">
                <a href="" th:text="${'浏览量:'+blog.views}"></a>
                </div>
                <div class="edit">
                    <a th:href="@{'/myblog/modPage?blogId='+${blog.id}}">编辑</a>
                </div>
            </div>
            <div class="detailtwo">
                <div class="blogclass">
                    <div class="classhead">
                        <a href="javascript:void(0)">分类专栏:</a>
                    </div>
                    <div class="class">
                        <a href="" th:text="${blog.classification.name}"></a>
                    </div>
                </div>
                <div class="blogtag">
                    <div class="taghead">
                        <a href="javascript:void(0)">分类标签:</a>
                    </div>
                    <div class="tag_b">
                        <a href="" th:text="${blog.tag.name}"></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

   <!-- 左边博客分类栏-->
    <div class="myclassify">
        <div class="classSpan"><a href="javascript:void(0)">分类专栏</a></div>
        <div class="classShow">
            <div class="classitem" th:each="c:${classlistcount}">

                <div class="classname">
                    <a href="javascript:void(0)" th:text="${c.name}"></a>
                </div>
                <div class="classblogcount">
                    <a href="javascript:void(0)" th:text="${c.counts}"></a>
                </div>
            </div>
        </div>
    </div>

    <div class="recomandblog">
        <div class="blogSpan"><a href="javascript:void(0)">推荐文章</a></div>
        <div class="blogShow">
            <div class="blogitem" th:each="r : ${recomandblogs}">
                <a href="" th:text="${r.title}"></a>
            </div>
        </div>
    </div>

<!--    博客主体内容-->
    <div class="blog_content" id="content">
            <textarea id="appendcontent" style="display:none;" th:text="${blog.content}"></textarea>
    </div>
    <div class="blog_cgv">
        <div class="goodcounts">
            <div class="goodcounts_image">
                <img src="/common/system_icon/goodcounts_blog.png">
            </div>
            <div class="goodcounts_item">
                <a href="javascript:void(0)" th:text="${'点赞'+blog.good_count}"></a>
            </div>
        </div>
        <div class="comment">
            <div class="comment_image">
                <img src="/common/system_icon/comment_blog.png">
            </div>
            <div class="comment_item">
                <a href="javascript:void(0)" th:text="${'评论'+blog.comments}"></a>
            </div>
        </div>
        <div class="views">
            <div class="views_image">
                <img src="/common/system_icon/views_blog.png">
            </div>
            <div class="views_item">
                <a href="javascript:void(0)" th:text="${'浏览量'+blog.views}"></a>
            </div>
        </div>

        <div class="collections">
            <div class="collections_image">
                <img src="/common/system_icon/collections_blog.png">
            </div>
            <div class="views_item">
                <a href="javascript:void(0)" th:text="${'收藏量'+blog.views}"></a>
            </div>

        </div>

       <!--当前未登录或者是登录用户访问其他用户博客才显示-->
        <div class="One_key_three_links"  th:if="${session.user.id!=blog.user.id}">
            <div class="collect"></div>
            <div class="follow"></div>
            <div class="three_trigger"></div>
        </div>
    </div>
    <div class="comment_input_area">
        <div class="commenter">
            <img th:src="@{/common/getImage(image=${blog.user.image})}">
        </div>
        <div class="comment_content" contenteditable="true">

        </div>
        <div class="comment_send">
            <a href="javascript:void(0)"></a>
        </div>

    </div>

    <div th:replace="/front/component/page::footer">
    </div>

</div>
</body>
<script src="js/plugin/jquery.js"></script>
<script src="js/plugin/commentTyping.js"></script>
<script src="editor/editormd.js"></script>
<script src="editor/lib/marked.min.js"></script>
<script src="editor/lib/prettify.min.js"></script>
<script src="editor/lib/raphael.min.js"></script>
<script src="editor/lib/underscore.min.js"></script>
<script src="editor/lib/sequence-diagram.min.js"></script>
<script src="editor/lib/flowchart.min.js"></script>
<script src="editor/lib/jquery.flowchart.min.js"></script>

<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>

<script type="text/javascript">
    /*前端解析md*/
    $(document).ready(function () {
        editormd.markdownToHTML("content", {
            /*htmlDecode: "style,script,iframe", //可以过滤标签解码*/
            htmlDecode      : "style,script,iframe",
            tocm: true,
            tocContainer: "#my-toc-container", // 自定义 ToC 容器层
            emoji: true,
            taskList:true,
            tex: true,               // 默认不解析
            flowChart:true,         // 默认不解析
            sequenceDiagram:true,  // 默认不解析
        });
    })

    /*头悬浮栏*/
    $(document).on("mouseover",".current_user_section",function () {
        $("#user_menu").css("display","block");
    })
    $(document).on("mouseout",".current_user_section",function () {
        $("#user_menu").css("display","none");
    })

    $(document).on("mouseout","#user_menu",function () {
        $("#user_menu").css("display","none");
    })


    //显示与关闭目录
    $(".catabutton a").on("click",function () {
        if(this.text==="打开目录"){
            $("#my-toc-container").css("visibility","visible");
            $("#my-toc-container").css("opacity","1");

            this.innerHTML="关闭目录";
            return 0;
        }
        if(this.text==="关闭目录"){
            $("#my-toc-container").css("visibility","hidden");
            $("#my-toc-container").css("opacity","0");

            this.innerHTML="打开目录";
            return 0;
        }

    })




</script>
</html>