<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>OutOfMemory</title>
<link rel="short icon"  href="/common/system_icon/favicon.ico"/>

<link href="/css/footer.css" rel="stylesheet" type="text/css">
<link href="/css/header.css" rel="stylesheet" type="text/css">
<link href="/css/leftbody.css" rel="stylesheet" type="text/css">
<link href="/css/rightbody.css" rel="stylesheet" type="text/css">
<link href="particles/style.css" rel="stylesheet" type="text/css">



</head>
<body >
<div id="particles-js">
	<div th:replace="/front/component/page::header">
	</div>

	<div class="leftbody">
		<div class="catalog">
			<ul class="section">
				<!--该部分由数据库查询得到-->
				<li th:each="t:${blogTagList}"><a href="" th:text="${t.name}"></a></li>

			</ul>

		</div>

		<div class="best_blog">
			<div class="recommend_left">推荐博客</div>

			<ul class="blogs" th:each=" b:${blogList}" >
				<input type="hidden" th:value="${b.id}">
				<input type="hidden" th:value="${b.user.id}">

				<!--该部分由数据库查询得到-->
				<li class="title"><a href="" th:text="${b.title}"></a></li>
				<li class="author"><img th:src="@{/mycommon/getImage(image=${b.user.image})}" alt=""><a href="" th:text="${b.user.username}"></a></li>
				<li class="preview"><p th:text="${#strings.substring(b.content,0,10)}">java通过反射可以在程序运行时动态修改类...</p></li>
				<li class="like"><img src="/common/system_icon/good.png" alt="点赞数" title="点赞数"><a href="" th:text="${b.good_count}">520</a></li>
				<li class="views"><img src="/common/system_icon/views.png" alt="浏览量" title="浏览量"><a href="" th:text="${b.views}">2500</a></li>
				<li class="comment_counts"><img src="/common/system_icon/comments.png" alt="评论数" title="评论数"><a href="" th:text="${b.comments}">25</a></li>
			</ul>
			<div class="pagination-bar">
				<div class="total-page">共<span id="indexblogtotalpage" th:text="${tottalcount}"></span>页</div>
				<div class="jump-page">
					<div>跳转倒:</div>
					<div><input id="willjump" type="text" ></div>
					<div id="jumpconfirm" onclick="changeindexblogpage(3)"><a href="javascript:void(0)">确认</a></div></div>

				<div class="next-page" onclick="changeindexblogpage(2)" ><a href="javascript:void(0)">下一页</a></div>
				<div class="current-page">当前页:<span id="currentpage">1</span></div>
				<div class="pre-page" onclick="changeindexblogpage(1)"><a href="javascript:void(0)">上一页</a></div>



			</div>







		</div>

	</div>
	<div class="rightbody">
		<div class="recommend_right"><p>推荐技术牛人</p></div>
		<div class="recommend_dalao">
			<ul class="dalao">
				<li class="dalao_name"><img src="/common/profile_image/1.jpg" alt=""><a href="">黄博然</a></li>
				<li class="dalao_folows"><p><a href="">粉丝:50</a></p></li>
				<li class="dalao_blog_count"><p><a href="">博客:30</a></p></li>
				<li class="dalao_reputation"><p><a href="">资深Java程序员，阿里巴巴P8级</a></p></li>

			</ul>
			<ul class="dalao">
				<li class="dalao_name"><img src="/common/profile_image/1.jpg" alt=""><a href="">黄博然</a></li>
				<li class="dalao_folows"><p><a href="">粉丝:50</a></p></li>
				<li class="dalao_blog_count"><p><a href="">博客:30</a></p></li>
				<li class="dalao_reputation"><p><a href="">资深Java程序员，阿里巴巴P8级</a></p></li>

			</ul>
			<ul class="dalao">
				<li class="dalao_name"><img src="/common/profile_image/1.jpg" alt=""><a href="">黄博然</a></li>
				<li class="dalao_folows"><p><a href="">粉丝:50</a></p></li>
				<li class="dalao_blog_count"><p><a href="">博客:30</a></p></li>
				<li class="dalao_reputation"><p><a href="">资深Java程序员，阿里巴巴P8级</a></p></li>

			</ul>



		</div>
		<div class="recommend_right"><p>推荐文章</p></div>
		<div class="recommend_blog">
			<ul class="blog_right">
				<li class="br_title"><p><a href="">Java基础知识</a></p></li>
				<li class="br_title"><p><a href="">Mysql索引优化</a></p></li>
				<li class="br_title"><p><a href="">Spring三大核心</a></p></li>
			</ul>

		</div>

	</div>


	<div th:replace="/front/component/page::footer">
	</div>

</div>


</body>
<script src="js/plugin/jquery.js"></script>
<script src="particles/particles.js"></script>
<script src="particles/app.js"></script>
<script type="text/javascript">

/*	particlesJS.onload("particles-js","particles/particles.json",function () {
		console.log('callback - particles.js config loaded');
	})*/



	/*头悬浮栏*/
	$(".current_user_section").mouseover(function () {
		$("#user_menu").css("display","block");
	})
	$(".current_user_section").mouseout(function () {
		$("#user_menu").css("display","none");
	})

	$("#user_menu").mouseout(function () {
		$("#user_menu").css("display","none");
	})
/*-------------------------------点击博客事件--------------------------------------*/
$(document).on("click",'.blogs',function () {
	let blogId=this.firstElementChild.value;
	let userId=this.firstElementChild.nextElementSibling.value;
	window.location.href="blog/viewblog?blogId="+blogId+"&userId="+userId;

})


/*--------------------------------分页---------------------------------------------*/
	function changeindexblogpage(p) {

		let tottalcount=$("#indexblogtotalpage").text().replace(/s+/g,'');
		let currentPage=$("#currentpage").text().replace(/s+/g,'');
		let page;
		switch (p) {

			/*上一页*/
			case 1:
				page=parseInt(currentPage)-1;
				if(page<=0){
					alert("当前为第一页!");
					return 0;
				}
				else{
					$.ajax({
						url:'/index/changeblogpage',
						dataType:"json",
						data:{'page':page,'pageSize':5},
						contentType:"application/json",
						type:"post",
						success: function (result) {
							return 0;
						},
						error:function (error) {

							console.log(error);
							return 0;
						},
						complete : function(xhr, status) {
							jumptologinPage(xhr,status);
						}

					})
				}
				break;
			/*下一页*/
			case 2:
				page=parseInt(currentPage)+1;
				if(page>tottalcount){
					alert("当前为最后一页!");
					return 0;
				}
				else{
					$.ajax({
						url:'/index/changeblogpage',
						dataType:"json",
						data:{'page':page,'pageSize':5},
						type:"post",
						success: function (result) {

							console.log(result);

							return 0;
						},
						error:function (error) {
							console.log(error);
							return 0;
						},
						complete : function(xhr, status) {
							jumptologinPage(xhr,status);
						}
					})
				}
				break;
			/*跳转*/
			case 3:
				page=parseInt($("#willjump").val());
				if(page>0&&page<=tottalcount){
					$.ajax({
						url:'/index/changeblogpage',
						dataType:"application/json",
						data:{'page':page,'pageSize':5},
						contentType:"application/json",
						type:"post",
						success: function (result) {

							return 0;
						},
						error:function (error) {

							console.log(error);
							return 0;
						},
						complete : function(xhr, status) {

							jumptologinPage(xhr,status);
						}
					})
				}
				else{

					alert("跳转页面不在范围内!")
				}
				break;

		}
		return 0;
	}

/*	--------------------------------拦截器跳转登录------------------------------------*/
function  jumptologinPage(xhr, status) {
	//拦截器实现超时跳转到登录页面
	// 通过xhr取得响应头
	var REDIRECT = xhr.getResponseHeader("REDIRECT");
	//如果响应头中包含 REDIRECT 则说明是拦截器返回的需要重定向的请求
	if (REDIRECT == "REDIRECT") {
		var win = window;
		while (win != win.top) {
			win = win.top;
		}
		win.location.href = xhr.getResponseHeader("CONTEXTPATH");
	}
}

</script>
</html>
